<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
    <center><b><h1>Heart Disease</b></center>
        <center><b><h1>TAsk - 3</b></center>
    <center><b><h1>Enrollment No -- 24010101694</b></center>
        <center><b><h1>Roll No -- 138</b></center>
<center><b><h1>Lab - 3</b></center>    
<pre>

### 1)  First, you need to read the titanic dataset from local disk and display first five records

In [2]:
import pandas as pd

In [4]:
import numpy as ny

In [6]:
df = pd.read_csv("Heart.csv",encoding="ISO-8859-1")
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

### 2)  Identify Nominal, Ordinal, Binary and Numeric attributes from data sets and display all values.

In [8]:
nominal = ["restecg", "ca", "thal"] 
numeric = ["age", "trestbps", "chol", "thalach", "oldpeak"] 
ordinal = ["cp", "slope"] 
binary = ["sex", "fbs", "exang", "target"] 
print(nominal)
print(numeric)
print(ordinal)
print(binary)

['restecg', 'ca', 'thal']
['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
['cp', 'slope']
['sex', 'fbs', 'exang', 'target']

### 3)  Identify symmetric and asymmetric binary attributes from data sets and display all values.

In [20]:
print("Asymmetric values (Asymmetric Binary):")
print(df['fbs'].value_counts())
print(df['exang'].value_counts())
print(df['target'].value_counts())

print("symmetric values (symmetric Binary):")
print(df['sex'].value_counts())

Asymmetric values (Asymmetric Binary):
fbs
0    872
1    153
Name: count, dtype: int64
exang
0    680
1    345
Name: count, dtype: int64
target
1    526
0    499
Name: count, dtype: int64
symmetric values (symmetric Binary):
sex
1    713
0    312
Name: count, dtype: int64

### 4)  For each quantitative attribute, calculate its average, standard deviation, minimum, mode, range and maximum values.

In [24]:
quantitative_attributes = ["age", "cp", "trestbps", "chol", "thalach", "oldpeak", "slope", "ca", "thal"]
for i in quantitative_attributes:
    print(':::',i,':::',sep="|")
    print("   Mean",df[i].mean())
    print("   Min",df[i].min())
    print("   Mode",df[i].mode())
    print("   Max",df[i].max())
    print("   Standard Deviation",df[i].std())
    print("   Ranging",df[i].max()-1)

:::|age|:::
   Mean 54.43414634146342
   Min 29
   Mode 0    58
Name: age, dtype: int64
   Max 77
   Standard Deviation 9.072290233244281
   Ranging 76
:::|cp|:::
   Mean 0.9424390243902439
   Min 0
   Mode 0    0
Name: cp, dtype: int64
   Max 3
   Standard Deviation 1.0296407436458572
   Ranging 2
:::|trestbps|:::
   Mean 131.61170731707318
   Min 94
   Mode 0    120
Name: trestbps, dtype: int64
   Max 200
   Standard Deviation 17.516718005376408
   Ranging 199
:::|chol|:::
   Mean 246.0
   Min 126
   Mode 0    204
1    234
Name: chol, dtype: int64
   Max 564
   Standard Deviation 51.59251020618206
   Ranging 563
:::|thalach|:::
   Mean 149.11414634146342
   Min 71
   Mode 0    162
Name: thalach, dtype: int64
   Max 202
   Standard Deviation 23.005723745977196
   Ranging 201
:::|oldpeak|:::
   Mean 1.0715121951219515
   Min 0.0
   Mode 0    0.0
Name: oldpeak, dtype: float64
   Max 6.2
   Standard Deviation 1.175053255150173
   Ranging 5.2
:::|slope|:::
   Mean 1.3853658536585365
   Min 0
   Mode 0    1
Name: slope, dtype: int64
   Max 2
   Standard Deviation 0.6177552671745906
   Ranging 1
:::|ca|:::
   Mean 0.7541463414634146
   Min 0
   Mode 0    0
Name: ca, dtype: int64
   Max 4
   Standard Deviation 1.0307976650242847
   Ranging 3
:::|thal|:::
   Mean 2.32390243902439
   Min 0
   Mode 0    2
Name: thal, dtype: int64
   Max 3
   Standard Deviation 0.620660238051028
   Ranging 2

### 6)  For the qualitative attribute (class), count the frequency for each of its distinct values.

In [26]:
df["fbs"].value_counts()

fbs
0    872
1    153
Name: count, dtype: int64

###  7) It is also possible to display the summary for all the attributes simultaneously in a table using the describe() function. If an attribute is quantitative, it will display its mean, standard deviation and various quantiles (including minimum, median, and maximum) values. If an attribute is qualitative, it will display its number of unique values and the top (most frequent) values.

In [30]:
df.describe(include=["object"])

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [32]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [34]:
df.describe(include="all")

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### 8)  For multivariate statistics, you can compute the covariance and correlation between pairs of attributes.

In [36]:
print("\nCorrelation Matrix:\n")
df.corr(numeric_only=True)

Correlation Matrix:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,1.000000,-0.103240,-0.071966,0.271121,0.219823,0.121243,-0.132696,-0.390227,0.088163,0.208137,-0.169105,0.271551,0.072297,-0.229324
sex,-0.103240,1.000000,-0.041119,-0.078974,-0.198258,0.027200,-0.055117,-0.049365,0.139157,0.084687,-0.026666,0.111729,0.198424,-0.279501
cp,-0.071966,-0.041119,1.000000,0.038177,-0.081641,0.079294,0.043581,0.306839,-0.401513,-0.174733,0.131633,-0.176206,-0.163341,0.434854
trestbps,0.271121,-0.078974,0.038177,1.000000,0.127977,0.181767,-0.123794,-0.039264,0.061197,0.187434,-0.120445,0.104554,0.059276,-0.138772
chol,0.219823,-0.198258,-0.081641,0.127977,1.000000,0.026917,-0.147410,-0.021772,0.067382,0.064880,-0.014248,0.074259,0.100244,-0.099966
fbs,0.121243,0.027200,0.079294,0.181767,0.026917,1.000000,-0.104051,-0.008866,0.049261,0.010859,-0.061902,0.137156,-0.042177,-0.041164
restecg,-0.132696,-0.055117,0.043581,-0.123794,-0.147410,-0.104051,1.000000,0.048411,-0.065606,-0.050114,0.086086,-0.078072,-0.020504,0.134468
thalach,-0.390227,-0.049365,0.306839,-0.039264,-0.021772,-0.008866,0.048411,1.000000,-0.380281,-0.349796,0.395308,-0.207888,-0.098068,0.422895
exang,0.088163,0.139157,-0.401513,0.061197,0.067382,0.049261,-0.065606,-0.380281,1.000000,0.310844,-0.267335,0.107849,0.197201,-0.438029
oldpeak,0.208137,0.084687,-0.174733,0.187434,0.064880,0.010859,-0.050114,-0.349796,0.310844,1.000000,-0.575189,0.221816,0.202672,-0.438441
slope,-0.169105,-0.026666,0.131633,-0.120445,-0.014248,-0.061902,0.086086,0.395308,-0.267335,-0.575189,1.000000,-0.073440,-0.094090,0.345512
ca,0.271551,0.111729,-0.176206,0.104554,0.074259,0.137156,-0.078072,-0.207888,0.107849,0.221816,-0.073440,1.000000,0.149014,-0.382085
thal,0.072297,0.198424,-0.163341,0.059276,0.100244,-0.042177,-0.020504,-0.098068,0.197201,0.202672,-0.094090,0.149014,1.000000,-0.337838
target,-0.229324,-0.279501,0.434854,-0.138772,-0.099966,-0.041164,0.134468,0.422895,-0.438029,-0.438441,0.345512,-0.382085,-0.337838,1.000000

In [38]:
print(" Covariance Matrix:\n")
df.cov(numeric_only=True)

 Covariance Matrix:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,82.306450,-0.431198,-0.672251,43.085733,102.890625,0.392164,-0.635490,-81.446089,0.378144,2.218825,-0.947742,2.539458,0.407093,-1.040392
sex,-0.431198,0.211944,-0.019491,-0.636863,-4.708984,0.004465,-0.013395,-0.522838,0.030288,0.045812,-0.007584,0.053021,0.056697,-0.064346
cp,-0.672251,-0.019491,1.060160,0.688565,-4.336914,0.029108,0.023687,7.268296,-0.195451,-0.211407,0.083727,-0.187017,-0.104385,0.223903
trestbps,43.085733,-0.636863,0.688565,306.835410,115.657227,1.135165,-1.144685,-15.822822,0.506798,3.857971,-1.303344,1.887842,0.644446,-1.215584
chol,102.890625,-4.708984,-4.336914,115.657227,2661.787109,0.495117,-4.014648,-25.841797,1.643555,3.933301,-0.454102,3.949219,3.209961,-2.579102
fbs,0.392164,0.004465,0.029108,1.135165,0.495117,0.127111,-0.019583,-0.072719,0.008303,0.004549,-0.013634,0.050406,-0.009333,-0.007339
restecg,-0.635490,-0.013395,0.023687,-1.144685,-4.014648,-0.019583,0.278655,0.587909,-0.016373,-0.031085,0.028073,-0.042482,-0.006718,0.035496
thalach,-81.446089,-0.522838,7.268296,-15.822822,-25.841797,-0.072719,0.587909,529.263325,-4.136114,-9.456022,5.618078,-4.929917,-1.400290,4.865194
exang,0.378144,0.030288,-0.195451,0.506798,1.643555,0.008303,-0.016373,-4.136114,0.223514,0.172684,-0.078077,0.052558,0.057865,-0.103558
oldpeak,2.218825,0.045812,-0.211407,3.857971,3.933301,0.004549,-0.031085,-9.456022,0.172684,1.380750,-0.417527,0.268673,0.147810,-0.257632
slope,-0.947742,-0.007584,0.083727,-1.303344,-0.454102,-0.013634,0.028073,5.618078,-0.078077,-0.417527,0.381622,-0.046765,-0.036076,0.106736
ca,2.539458,0.053021,-0.187017,1.887842,3.949219,0.050406,-0.042482,-4.929917,0.052558,0.268673,-0.046765,1.062544,0.095335,-0.196954
thal,0.407093,0.056697,-0.104385,0.644446,3.209961,-0.009333,-0.006718,-1.400290,0.057865,0.147810,-0.036076,0.095335,0.385219,-0.104856
target,-1.040392,-0.064346,0.223903,-1.215584,-2.579102,-0.007339,0.035496,4.865194,-0.103558,-0.257632,0.106736,-0.196954,-0.104856,0.250071